/* Catppuccin Mocha */
@define-color background-darker rgba(17, 17, 27, 230);
@define-color background #1e1e2e;
@define-color selection #313244;
@define-color foreground #cdd6f4;
@define-color comment #6c7086;
@define-color cyan #94e2d5;
@define-color green #a6e3a1;
@define-color orange #fab387;
@define-color pink #f5c2e7;
@define-color purple #cba6f7;
@define-color red #f38ba8;
@define-color yellow #f9e2af;
